<?xml version="1.0" encoding="UTF-8"?>
<Configuration  status="WARN">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
    </Console>
    <File name="File" fileName="./logs/automation.log" append="true">
        <PatternLayout>
                <Pattern>=%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
    </File>
 </Appenders>
  <Loggers>
   
    <Logger name="amazonTestsLog" level="info"  additivity="true">
       <AppenderRef ref="CONSOLE" />
       <AppenderRef ref="File"/>
    </Logger>
     <Root level="INFO">
      <AppenderRef ref="CONSOLE" />
     <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>